<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Hotspot Pagina</title>
    <link href="/static/css/screenly.css" rel="stylesheet"/>
    <style type="text/css">
        html, body {
            height: 100%;
            overflow-y: hidden;
        }
    </style>
</head>
<body class="splash container d-table">
<div class="col-12 d-table-cell align-middle">
    <div class="splash-body p-5">
        <div class="row">
            <div class="col-12">
                <div class="logo-container page-header text-center">
                    <img src="/static/img/screenly_ose_logo_white_large.png" class="img-fluid"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>Geen netwerk verbinding gevonden. Er is een access point gecreëerd. <br>Om de Wi-Fi te configureren,
                    verbind met het access point <br>via uw computer of mobiel apparaat</p>
                <div class="form-actions">
                <span>
                    Wi-Fi: {{ context.network }}
                    <br>
                    Wachtwoord: {{ context.ssid_pswd }}
                    <br>
                    Addres: {{ context.address }}
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
