{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-header">
                    Integraties
                </h1>
            </div>
        </div>

        {% if context.is_balena %}
            <div class="row">
                <div id="balena-section" class="col-12">
                    <h1 class="page-header">
                        Balena
                    </h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Optie</th>
                            <th scope="col">Waarde</th>
                            <th scope="col">Beschrijving</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Apparaat naam</th>
                            <td>{{ context.balena_device_name_at_init }}</td>
                            <td>The name of the device on first initialisation.</td>
                        </tr>
                        <tr>
                            <th scope="row">Apparaat UUID</th>
                            <td>{{ context.balena_device_id }}</td>
                            <td>Het unieke identificatienummer voor het apparaat. Dit wordt gebruikt om het op balena te identificeren.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">App ID</th>
                            <td>{{ context.balena_app_id }}</td>
                            <td>ID-nummer van de balena-applicatie waaraan het apparaat is gekoppeld.</td>
                        </tr>
                        <tr>
                            <th scope="row">App Naam</th>
                            <td>{{ context.balena_app_name }}</td>
                            <td>De naam van de balena-toepassing waaraan het apparaat is gekoppeld.</td>
                        </tr>
                        <tr>
                            <th scope="row">Supervisor Versie</th>
                            <td>{{ context.balena_supervisor_version }}</td>
                            <td>De huidige versie van de supervisor-agent die op het apparaat wordt uitgevoerd.</td>
                        </tr>
                        <tr>
                            <th scope="row">Host OS Versie</th>
                            <td>{{ context.balena_host_os_version }}</td>
                            <td>De versie van het host-besturingssysteem.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if context.is_wott_installed %}
            <div class="row">
                <div id="wott-section" class="col-12">
                    <h1 class="page-header">
                        WoTT
                    </h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Optie</th>
                            <th scope="col">Waarde</th>
                            <th scope="col">Beschrijving</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Apparaat ID</th>
                            <td>{{ context.wott_device_id }}</td>
                            <td>WoTT Apparaat ID.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
