{% extends "base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/toggle-switch.css') }}" rel="stylesheet"/>

    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- needs jquery -->
    <script src="{{ url_for('static', filename='js/jquery-ui-1.10.1.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script> <!-- needs jqueryui.widget -->

    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-header">
                    Instellingen
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% if context.flash %}
                    <div class="alert alert-{{ context.flash['class'] }}">
                        {{ context.flash['message'] }}
                    </div>
                {% endif %}
                <form method="post">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Naam speler</label>
                        <div class="col-3">
                            <input class="form-control" name="player_name" type="text"
                                   value="{{ context.player_name }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Laat splashscreen zien</label>
                        <div class="col-3">
                            <label id="splash_checkbox" class="checkbox toggle card card-body bg-light form-control">
                                {% if context.show_splash %}
                                    <input name="show_splash" checked="checked" type="checkbox"/>
                                {% else %}
                                    <input name="show_splash" type="checkbox"/>
                                {% endif %}
                                <p>
                                    <span class="on">On</span>
                                    <span class="off">Off</span>
                                </p>
                                <a class="btn btn-primary slide-button"></a>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Shuffle afspeellijst</label>
                        <div class="col-3">
                            <label id="shuffle_checkbox" class="checkbox toggle card card-body bg-light">
                                {% if context.shuffle_playlist %}
                                    <input name="shuffle_playlist" checked="checked" type="checkbox"/>
                                {% else %}
                                    <input name="shuffle_playlist" type="checkbox"/>
                                {% endif %}
                                <p>
                                    <span class="on">Aan</span>
                                    <span class="off">Uit</span>
                                </p>
                                <a class="btn btn-primary slide-button"></a>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Geluid output</label>
                        <div class="col-2">
                            <select class="form-control" name="audio_output">
                                {% if context.audio_output == 'hdmi' %}
                                    <option value="hdmi" selected="selected">HDMI</option>
                                    <option value="local">3.5mm jack</option>
                                {% else %}
                                    <option value="hdmi">HDMI</option>
                                    <option value="local" selected="selected">3.5mm jack</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Standaard duur</label>
                        <div class="col-1">
                            <input class="form-control" name="default_duration" type="number"
                                   value="{{ context.default_duration }}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Standaard stream duur</label>
                        <div class="col-1">
                            <input class="form-control" name="default_streaming_duration" type="number"
                                   value="{{ context.default_streaming_duration }}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Datumnotatie</label>
                        <div class="col-2">
                            <select class="form-control" name="date_format">
                                <option value="mm/dd/yyyy"
                                        {% if context.date_format == 'mm/dd/yyyy' %} selected="selected" {% endif %}>
                                    month/day/year
                                </option>
                                <option value="dd/mm/yyyy"
                                        {% if context.date_format == 'dd/mm/yyyy' %} selected="selected" {% endif %}>
                                    day/month/year
                                </option>
                                <option value="mm-dd-yyyy"
                                        {% if context.date_format == 'mm-dd-yyyy' %} selected="selected" {% endif %}>
                                    month-day-year
                                </option>
                                <option value="dd-mm-yyyy"
                                        {% if context.date_format == 'dd-mm-yyyy' %} selected="selected" {% endif %}>
                                    day-month-year
                                </option>
                                <option value="mm.dd.yyyy"
                                        {% if context.date_format == 'mm.dd.yyyy' %} selected="selected" {% endif %}>
                                    month.day.year
                                </option>
                                <option value="dd.mm.yyyy"
                                        {% if context.date_format == 'dd.mm.yyyy' %} selected="selected" {% endif %}>
                                    day.month.year
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Gebruik 24-uurs klok</label>
                        <div class="col-3">
                            <label id="use_24_hour_clock_checkbox" class="checkbox toggle card card-body bg-light">
                                {% if context.use_24_hour_clock %}
                                    <input name="use_24_hour_clock" checked="checked" type="checkbox"/>
                                {% else %}
                                    <input name="use_24_hour_clock" type="checkbox"/>
                                {% endif %}
                                <p>
                                    <span class="on">Aan</span>
                                    <span class="off">Uit</span>
                                </p>
                                <a class="btn btn-primary slide-button"></a>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Debug logging</label>
                        <div class="col-3">
                            <label id="debug_checkbox" class="checkbox toggle card card-body bg-light">
                                {% if context.debug_logging %}
                                    <input name="debug_logging" checked="checked" type="checkbox">
                                {% else %}
                                    <input name="debug_logging" type="checkbox">
                                {% endif %}
                                <p>
                                    <span class="on">Aan</span>
                                    <span class="off">Uit</span>
                                </p>
                                <a class="btn btn-primary slide-button"></a>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Authenticatie</label>
                        <div class="col-3">
                            <select class="custom-select my-1 mr-sm-2" id="auth_backend" name="auth_backend">
                            {% for opt in context.auth_backends %}
                              <option value="{{ opt.name }}" {{ opt.selected }}>{{ opt.text }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if context.need_current_password %}
                    <div class="form-group row" id="curpassword_group">
                        <label class="col-2 col-form-label">Huidig wachtwoord</label>
                        <div class="col-3">
                            <input class="form-control" name="current-password" type="password" value="">
                        </div>
                    </div>
                    {% endif %}

                  {% for backend in context.auth_backends %}
                    {% if backend.template %}
                    <div id="auth_backend-{{ backend.name }}">
                      {% include backend.template %}
                    </div>
                    {% endif %}
                  {% endfor %}

                    <div class="form-actions form-group row">
                        <div class="offset-1 col-3">
                            <input class="btn btn-primary" type="submit" value="Save Settings">
                            <a class="btn btn-outline-secondary" href="/">Annuleren</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if not context.is_balena %}
            <div class="row">
                <div id="wifi-section" class="col-12">
                    <h1 class="page-header">
                        Herstel WiFi configuratie
                    </h1>
                    <p>Voer het uit en als de volgende boot geen netwerkverbinding heeft, wordt u gevraagd om een WiFi-netwerk te selecteren.
                        <br><b>Waarschuwing:</b> opnieuw opstarten vereist. Webinterface is niet beschikbaar tot opnieuw opstarten.</p>
                    <div class="form-actions">
                        <button id="btn-reset" class="btn btn-primary" type="button">Voer netwerkdetectie opnieuw uit
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div id="backup-section" class="col-12">
                <h1 class="page-header">
                    Back-up
                </h1>
                <div class="form-actions">
                    <input name="backup_upload" style="display:none" type="file">
                    <button id="btn-upload" class="btn btn-primary" type="button">Upload en Herstel</button>
                    <button id="btn-backup" class="btn btn-outline-secondary">Back-up</button>
                    <div class="progress-bar progress-bar-striped progress active" style="display:none">
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
